html,
body {
  padding: 0;
  margin: 0;
  font-family: Outfit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;

  @media screen and (max-width: 1440px){
    width: 75%;
    margin-left: 15px;
    margin-right: 15px;
  }

  @media screen and (max-width: 600px){
    width: 75%;
  }

  @media screen and (max-width: 376px){
    width: 75%;
  }
}

.internContainer {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 1440px){
    width: 75%;
    flex-direction: row;
  }

  @media screen and (max-width: 768px){
    
    width: 100%;
  }
}

:root{
  --border-radius: 14px;
  --padding-left-1: 17px;
  --padding-right-1: 17px;
}

